@import url('https://fonts.googleapis.com/css?family=Inter');

.frame {
  background-color: rgb(15 23 42);
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  overflow: hidden;
}

.intro-container {
  /* background-color: rgb(25, 84, 220); */
  height: 150px;
  width: 30vw;
  position: fixed;
  top: 20%;
  left: 15%;
  color: #dfdfdf;
}


.fixed-container {
  /* background-color: rgb(25, 84, 220); */
  overflow-y: auto;
  height: 450px;
  width: 30vw;
  position: fixed;
  top: 20%;
  left: 15%;
  color: #dfdfdf;
}

.scrollable {
  /* background-color: #fff; */
  height: 100vh;
  width: 100vw;
  position: relative;
  /* left: 50%;
  top: 20%; */
  overflow-y: auto;
}

.scrollable-content {
   /* background-color: blueviolet; */
   color: #dfdfdf;
   position: relative;
   left: 50%;
   top: 20%;
   width: 500px;
   height: fit-content;

}

.name {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  top: 0%;
  letter-spacing: -2px;
}

.designation {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  top: 40%;
  letter-spacing: -0.5px;
}

.about {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  top: 85%;
  letter-spacing: -0.5px;
}

.navigate-content {
  position: absolute;
  /* background-color: #000; */
  width: 300px;
  height: 150px;
  top: 45%;
  text-decoration: none;
  list-style: none;
}



ul,
li {
  list-style-type: none;
  margin: 20px;
  padding: 0px;
}

a:link,
a:visited {
  text-decoration: none;
}

.navigate-links {
  /* background-color: #af3030; */
  display: table;
}
.navigate-links:hover .nav-indicator {
     width: 70px;
}

.nav-indicator {
  width: 30px;
  background-color: #dfdfdf;
  height: 2px;
  transition: width 0.1s;
  border-radius: 30px;
  display: inline-block;
  vertical-align:middle;
  justify-content: center;
}

img {
  filter: grayscale(50);
}
.nav-text {
  color: #dfdfdf;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  top: 85%;
  letter-spacing: 1px;
  margin-left: 20px;
}

.social-media-icons {
  aspect-ratio: auto;
  width: 20px;
  /* margin-left: 10px; */
  margin-right: 20px;
  align-items: center;
  display: inline;
  vertical-align:middle;
  justify-content: center;
}

.social-media {
     position: absolute;
     top: 90%;
     display: table;
}
